.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 70px 50px;
} 
.cart-container{
    background-color: #c99dfc;
}
 @media screen and (max-width:480px) and (min-width: 320px){
    .shop-container{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin: 10px auto 0 auto;
    } 
} 
@media screen and (max-width:768px) and (min-width: 481px){
    .shop-container{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px auto 0 auto;
    } 
}
@media screen and (max-width:1024px) and (min-width: 769px){
    .shop-container{
        display: grid;
        grid-template-columns: 5fr 2fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 30px auto 0 auto;
    } 
}
@media screen and (max-width:1200px) and (min-width: 1025px){
    .shop-container{
        display: grid;
        grid-template-columns: 7fr 2fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        margin: 35px auto 0 auto;
    } 
}
@media screen and (min-width: 1201px){
    .shop-container{
        display: grid;
        grid-template-columns: 7fr 2fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin: 40px auto 0 auto;
    } 
}